{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('routes.index') }}" style="display: flex; align-items: center;">
                    <img src="{{ url_for('static', filename='wsu-logo.png') }}" alt="WSU Cougarhead" style="width: 40px; height: 40px">
                    <span style="margin-left: 15px;">WSU Research Portal</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                        <li {% if request.path == url_for('routes.index') %}class="active"{% endif %}>
                            <a href="{{ url_for('routes.index') }}">Home</a>
                        </li>
                    {% if current_user.user_type == "Professor" %}
                        <li {% if request.path == url_for('positions.positions') %}class="active"{% endif %}>
                            <a href="{{ url_for('positions.positions') }}">View My Positions</a>
                        </li>
                        <li {% if request.path == url_for('positions.create_position') %}class="active"{% endif %}>
                            <a href="{{ url_for('positions.create_position') }}">Create Position</a>
                        </li>
                    {% elif current_user.user_type == "Student" %}
                        <li {% if request.path == url_for('positions.positions') %}class="active"{% endif %}>
                            <a href="{{ url_for('positions.positions') }}">View Positions</a>
                        </li>
                        <li {% if request.path == url_for('routes.my_applications') %}class="active"{% endif %}>
                            <a href="{{ url_for('routes.my_applications') }}">View My Applications</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% else %}
                    <li {% if request.path == url_for('routes.display_profile') %}class="active"{% endif %}>
                        <a href="{{ url_for('routes.display_profile') }}">{{ current_user.firstname }} {{ current_user.lastname }}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}