<!-- <link rel="stylesheet" href="{{ url_for('static', filename='classes.css') }}"> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{ position.title }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ position.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul>
                {% for language in position.languages %}
                    <li>{{ language.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                {% for research_field in position.research_fields %}
                    <li>{{ research_field.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class = "row">
        <a href="{{ url_for('positions.positions_by_id', position_id=position.id) }}" class="btn btn-primary text-center">View Details</a>
    </div>
</div>


