{% extends "base.html" %}

{% block content %}

    <h1>Post New Research Position</h1>

    {% if form %}

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div>
                <!-- Position Title -->
                <p>{{ form.title.label }}</p>
                <p>{{ form.title(class="formtitle") }}</p>
                
                {% for error in form.title.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
                
                <!-- Position Description -->

                <p>{{ form.description.label }}</p>
                <p>{{ form.description(class="formdescription") }}</p>
                
                {% for error in form.description.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
            
                <!-- Position Start Date -->

                <!-- Position End Date -->

                <!-- Position Workload -->

                <!-- Position Research Field -->

                <!-- Position Languages -->

                <!-- Position Requirements -->
            
            </div>
            
            {{ form.submit(class="button") }}
        </form>
    {% endif %}


{% endblock %}