{% extends "base.html" %}
{% block app_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='classes.css') }}">

<!-- Overlay text for homepage 
    <div class="image-container" style="position: relative; overflow: hidden; width: 50vw; height: 50vh;">
        <img src="{{ url_for('static', filename='wsu-hero-1.jpg') }}" class="img-fluid" alt="bootstrap" style="width: 100%; height: 100%; object-fit: cover;">
        
        <div class="overlay-text" style="position: absolute; top: 18rem; left: 2rem;">
            <p class=""></p>
        </div>
    </div>
-->
<h1>Home!</h1>

<div>
    {% for position in positions %}
    <div>
        {% include 'Position Pages/_position.html' %}
    </div>
    {% endfor %}
</div>

{% endblock %}