{% extends "base.html" %}

{% block app_content %}
<div>
    {% for position in positions %}
    <div>
        {% include '_position.html' %}
        <a href="{{ url_for('positions.positions_by_id', position_id=position.id) }}" class="btn btn-default text-center">View Details</a>

        {% if current_user.user_type == "Student" %}
        <a href="{{ url_for('positions.positions_by_id_apply', position_id=position.id) }}" class="btn btn-primary text-center">Apply</a>
        {% elif current_user.user_type == "Professor" %}
        <a href="{{ url_for('positions.positions_by_id_applicants', position_id=position.id) }}" class="btn btn-primary text-center">View Applicants</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}