{% extends "base.html" %}
{% block app_content %}

<table class="table">
	<thead>
		<tr>
			<th>{{ professor.firstname }} {{ professor.lastname }}</td> 
		</tr>
		<tr>
			<th>Email</th>
			<th>Phone No.</th>
			<th>WSU ID</th>
			<th>Title</th>
		</tr>
	</thead>
		<tbody>
				<tr>
					<td> {{ professor.email }} </td>
					<td> {{ professor.phone }} </td>
					<td> {{ professor.wsu_id }} </td>
					<td> {{ professor.title }} </td>
				</tr>
		</tbody>
</table>

	{% if professor == current_user %}
		<a href="{{ url_for('routes.edit_profile') }}" class = "btn btn-default text-center">Edit Profile</a>
	{% endif %}
{% endblock %}