<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Work Load</th>
            <th>Languages</th>
            <th>Research Fields</th>
            <th>Candidates</th>
            <!-- <th>Status</th> -->
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{ position.title }}</td>
                <td>{{ position.description }}</td>
                <td>{{ position.start_date }}</td>
                <td>{{ position.end_date }}</td>
                <td>{{ position.work_load }}</td>
                <td>
                    <ul>
                        {% for language in position.languages %}
                            <li>{{ language.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for interest in position.research_fields %}
                            <li>{{ interest.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ position.candidates }}</td>
                <!-- {% if position.accepting_applications %}
                <td>Open</td>
                {% else %}
                <td>Closed</td>
                {% endif %} -->
            </tr>
    </tbody>
</table>

{% if not current_user.is_anonymous %}
<a href="{{ url_for('positions.positions_by_id', position_id=position.id) }}" class="btn btn-default text-center">View Details</a>
{% endif %}
{% if position.accepting_applications %}
    {% if current_user.user_type == "Student" %}
        {% if (current_user.get_application_by_position(position) == None) %}
        <a href="{{ url_for('positions.positions_by_id_apply', position_id=position.id) }}" class="btn btn-primary text-center">Apply</a>
        {% else %}
        <a href="#" class="btn btn-primary text-center" disabled>Apply</a>
        <button class="btn btn-danger text-center" disabled>You've already applied!</button>
        {% endif %}
    {% elif current_user.user_type == "Professor" %}
        <a href="{{ url_for('positions.positions_by_id_applicants', position_id=position.id) }}" class="btn btn-primary text-center">View Applicants</a>
        <a href="{{ url_for('positions.positions_by_id_delete', position_id=position.id) }}" class="btn btn-danger text-center">Close Position</a>
    {% endif %}
{% else %}
    {% if current_user.user_type == "Professor" %}
        <!-- <a href="{{'asdf'}}" class="btn btn-success text-center">Open Position</a> -->
    {% endif %}
{% endif %}