<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Work Load</th>
            <th>Languages</th>
            <th>Research Fields</th>
            <th>Candidates</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{ position.title }}</td>
                <td>{{ position.description }}</td>
                <td>{{ position.start_date }}</td>
                <td>{{ position.end_date }}</td>
                <td>{{ position.work_load }}</td>
                <td>
                    <ul>
                        {% for language in position.languages %}
                            <li>{{ language.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for interest in position.research_fields %}
                            <li>{{ interest.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ position.candidates }}</td>
            </tr>
    </tbody>
</table>

<a href="{{ url_for('positions.positions_by_id', position_id=position.id) }}" class="btn btn-default text-center">View Details</a>
{% if current_user.user_type == "Student" %}
    <a href="{{ url_for('positions.positions_by_id_apply', position_id=position.id) }}" class="btn btn-primary text-center">Apply</a>
{% elif current_user.user_type == "Professor" %}
    <a href="{{ url_for('positions.positions_by_id_applicants', position_id=position.id) }}" class="btn btn-primary text-center">View Applicants</a>
{% endif %}