{% extends "base.html" %}

{% block content %}

<div class="container mt-4"> 
    <h1>Post New Research Position</h1>
    {% if form %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="post" action="{{ url_for('positions.create_position') }}">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.title.label }}<br>
                    {{ form.title(class="form-control") }}
                    {% if form.title.errors %}
                        <p class="text-danger">{{ form.title.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.description.label }}<br>
                    {{ form.description(class="form-control", rows=5) }}
                    {% if form.description.errors %}
                        <p class="text-danger">{{ form.description.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.start_date.label }}<br>
                    {{ form.start_date(class="form-control") }}
                    {% if form.start_date.errors %}
                        <p class="text-danger">{{ form.start_date.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.end_date.label }}<br>
                    {{ form.end_date(class="form-control") }}
                    {% if form.end_date.errors %}
                        <p class="text-danger">{{ form.end_date.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.workload.label }}<br>
                    {{ form.workload(class="form-control") }}
                    {% if form.workload.errors %}
                        <p class="text-danger">{{ form.workload.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="row"> <!-- Create a new row for side-by-side fields -->
                    <div class="col-md-6"> <!-- Half the width for languages -->
                        <div class="form-group">
                            <strong>{{ form.languages.label }}</strong>
                            <ul class="list-unstyled">
                            {% for subfield in form.languages %}
                                <li>
                                    {{ subfield }} {{ subfield.label }}
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-6"> <!-- Half the width for research_fields -->
                        <div class="form-group">
                            <strong>{{ form.research_fields.label }}</strong>
                            <ul class="list-unstyled">
                            {% for subfield in form.research_fields %}
                                <li>
                                    {{ subfield }} {{ subfield.label }}
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
